body {
	background-color: gainsboro;
}
h1 {
	font-size: 4rem;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form {
	display: flex;
	justify-content: center;
	gap: 1rem;
	outline: 2px solid red;
	padding: 2rem;
}
input {
	height: 2rem;
	width: 15rem;
	font-size: 1.25rem;
}
button {
	font-size: 1.25rem;
	color: whitesmoke;
}
.add_btn {
	background-color: rgb(28, 122, 28);
}

.delete_btn {
	background-color: rgb(207, 3, 3);
}
